<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMTest">
    <listeners>
        <listener class-name="CustomeListeners.TestListeners"/>
    </listeners>
    <test name="AllTests" thread-count="5" parallel="methods">
        <classes>
            <class name="OrangeHRM.LoginPageTest"/>
            <class name="OrangeHRM.DashBoardPageTest"/>
            <class name="OrangeHRM.AssignLeavePageTest"/>
            <class name="OrangeHRM.LogOutTest"/>
        </classes>
    </test>
</suite>